<!DOCTYPE html>
<html lang="{% block meta_language %}fr{% endblock meta_language %}">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}Accueil{% endblock page_title %} | scopyleft</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{% block meta_description %}scopyleft accompagne vos projets Web dans une démarche de qualité{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("feed_atom") }}" title="Blog Scopyleft (Atom)">
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("feed_rss") }}" title="Blog Scopyleft (RSS)">
    {%- assets filter="cssmin", output="packed.css",
        "css/styles.css"
    %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {%- endassets %}
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}default{% endblock body_class %}">
    <a id="top"></a>
    {% block header_navigation %}{% include "_navigation.html" %}{% endblock header_navigation %}
    <header>
        {% block page_heading -%}
            <h1 class="logo"><a href="/">scopyleft</a></h1>
        {%- endblock page_heading %}
    </header>

    <div class="main">
        {%- block content -%}{%- endblock content -%}
    </div>

    <footer>
        {% block footer %}
        <h2 class="contactez-nous" id="contact">Contact</h2>
        <p class="center">
            Par <a href="mailto:bonjour%40scopyleft.fr">email</a>,
            ou sur <a href="https://twitter.com/scopyleft">twitter</a>
        </p>
        <hr />
        {%- block quote -%}
        <blockquote>
            <q>Travailler entre humains, sur des projets utiles et pertinents, tout en privilégiant le bien-être et l’enthousiasme de chacun.</q>
        </blockquote>
        {%- endblock quote -%}
        <hr>
        {% block footer_navigation %}{% include "_navigation.html" %}{% endblock footer_navigation %}
        {% endblock footer %}
    </footer>
    {% block extrajs %}{% endblock extrajs %}
</body>
</html>
